{% extends "feedjack/base.html" %}
{% load i18n %}
{% load urlparams %}
{% load html %}

{% block content %}
{% include "feedjack/plain/pagination.html" %}

{% for item in object_list %}

  {% ifchanged %}
  <div class="date">{{ item.date_modified|date:"j. F Y" }}</div>
  {% endifchanged %}

  {% ifchanged %}
  <div class="avatar"> <a href="{{ item.feed.link }}">{{ item.feed.title }}</a></div>
  <!-- {{ item.date_modified|date:"j. F Y" }} -->
  {% else %}
  <div class="sep"></div>
  {% endifchanged %}


  <div class="post">
  <div class="post-title">» <a href="{{ item.link }}" onmousedown='if(document.getElementById("mark-post-{{ item.id }}-U").classList.contains("active")){mark_post({{ item.id}}, "R")}'>{% if item.title %}{{ item.title|safe }}{% else %}{{ item.subscriber.name }}{% endif %}</a></div>
  <div class="post-content">
    <p>{{ item.content|prettyhtml|safe }}</p>
    <div class="post-meta">
      <a href="{{ item.link }}">
      {% if item.author %}{% blocktrans with item.author as author %}by {{ author }} at{% endblocktrans %}{% endif %}
      {{ item.date_modified|date:"H:i" }}</a>
      {% for tag in item.qtags %}
          {% if forloop.first %}{% trans "under" %}{% endif %}
          <a href="{{ site.url }}/tag/{{ tag.name }}">{{ tag.name }}</a>
          {% if not forloop.last %}, {% endif %}
      {% endfor %}
      {% if item.comments %}
        <a href="{{ item.comments }}">({% trans "Comments" %})</a>
      {% endif %}
    </div>
  </div>
  <br />
  {% if request.user.is_authenticated %}
  <table class="mark-post">
    <tr>
      <td id="mark-post-{{ item.id }}-U" class="U{% if item.mark == "U" %} active{% endif %}"><a href="#" onclick='mark_post({{ item.id}}, "U");event.preventDefault();'>Unread</a></td>
      <td id="mark-post-{{ item.id }}-R" class="R{% if item.mark == "R" %} active{% endif %}"><a href="#" onclick='mark_post({{ item.id}}, "R");event.preventDefault();'>Read</a></td>
      <td id="mark-post-{{ item.id }}-L" class="L{% if item.mark == "L" %} active{% endif %}"><a href="#" onclick='mark_post({{ item.id}}, "L");event.preventDefault();'>Read Later</a></td>
      <td id="mark-post-{{ item.id }}-F" class="F{% if item.mark == "F" %} active{% endif %}"><a href="#" onclick='mark_post({{ item.id}}, "F");event.preventDefault();'>Favorite</a></td>
      <td id="mark-post-{{ item.id }}-I" class="I{% if item.mark == "I" %} active{% endif %}"><a href="#" onclick='mark_post({{ item.id}}, "I");event.preventDefault();'>Important</a></td>
    </tr>
  </table>
  {% endif %}
  </div>
{% endfor %}
{% include "feedjack/plain/pagination.html" %}
{% endblock content %}

{% block sidebar %}

{% comment %}
TODO:
- Move style to css file
- Add underline on hover
- Use same background colors for sorting options like the active mark buttons
- possibly add links to websites associated with feeds somewhere again
- get flex-wrap to work: the group-boxes should wrap in a horizontal row, when the window is not wide enough to display the sidebar
{% endcomment %}
<div style="margin: 1em 0;background-color: white;display: flex;flex-wrap: wrap;flex-direction: column">
    <div style="background-color: lightgrey">
        <div style="border: thin solid black;background-color: #6E9C60;color: white;font-size: 150%;font-style: italic;">
            Sorting &amp; Filters
        </div>
        <ul style="list-style: none;padding: 0 0.5em;font-size: 120%;margin: 0.2em 0;max-width: 20em;background-color: lightgrey">
            <li>
                <a href="?asc=1{% urlparams url_parameters "asc&since&until" %}" style="color: black;text-decoration: none;{% if url_parameters.asc == "1" %}font-weight:bold{% endif %}">Old to New</a>
                /
                <a href="?{% urlparams url_parameters "asc&since&until" %}" style="color: black;text-decoration: none;text-decoration: none;{% if url_parameters.asc != "1" %}font-weight:bold{% endif %}">New to Old</a>
            </li>
            <li>
                <a href="?marked=U{% urlparams url_parameters "marked&since&until" %}" style="color: black;text-decoration: none;text-decoration: none;{% if "U" in url_parameters.marked %}font-weight:bold{% endif %}">Unread</a>
            </li>
            <li>
                <a href="?marked=R{% urlparams url_parameters "marked&since&until" %}" style="color: black;text-decoration: none;{% if "R" in url_parameters.marked %}font-weight:bold{% endif %}">Read</a>
            </li>
            <li>
                <a href="?marked=L{% urlparams url_parameters "marked&since&until" %}" style="color: black;text-decoration: none;{% if "L" in url_parameters.marked %}font-weight:bold{% endif %}">Read Later</a>
            </li>
            <li>
                <a href="?marked=F{% urlparams url_parameters "marked&since&until" %}" style="color: black;text-decoration: none;{% if "F" in url_parameters.marked %}font-weight:bold{% endif %}">Favorite</a>
            </li>
            <li>
                <a href="?marked=I{% urlparams url_parameters "marked&since&until" %}" style="color: black;text-decoration: none;{% if "I" in url_parameters.marked %}font-weight:bold{% endif %}">Important</a>
            </li>
            <li>
                <a href="?{% urlparams url_parameters "marked&since&until" %}" style="color: black;text-decoration: none">No Filters</a>
            </li>
        </ul>
    </div>
{% for group in groups %}
    <div>
        <div style="border: thin solid black;background-color: #6E9C60;color: white;font-size: 150%">
                <a href="?group={{ group.id }}{% urlparams url_parameters "group&since&until&subscriber" %}" style="color: white;font-weight: bold;text-decoration: none">{{ group.name }}</a>
        </div>
        <ul style="list-style: none;padding: 0 0.5em;font-size: 120%;margin: 0.2em 0;max-width: 20em">
            {% for subscriber in group.subscriber_set.all %}
            <li>
                <a href="?subscriber={{ subscriber.id }}{% urlparams url_parameters "subscriber&group&since&until" %}" title="{{ subscriber.feed.title }}" style="color: black;text-decoration: none;{% for s in subscriber_filter %}{% if s == subscriber.id|stringformat:"s" %}font-weight: bold;{% endif %}{% endfor %}{% if group.id|stringformat:"s" == url_parameters.group %}font-weight: bold;{% endif %}"> {{ subscriber.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endfor groups %}
    <div>
        <div style="border: thin solid black;background-color: #6E9C60;color: white;font-size: 150%;font-style: italic;">
            Ungrouped
        </div>
        <ul style="list-style: none;padding: 0 0.5em;font-size: 120%;margin: 0.2em 0;max-width: 20em">
            {% for subscriber in ungrouped %}
            <li>
            <a href="?subscriber={{ subscriber.id }}{% urlparams url_parameters "subscriber&group&since&until" %}" title="{{ subscriber.feed.title }}" style="color: black;text-decoration: none;{% for s in subscriber_filter %}{% if s == subscriber.id|stringformat:"s" %}font-weight: bold{% endif %}{% endfor %}"> {{ subscriber.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        {% if request.user.is_authenticated %}
            <div style="border: thin solid black;background-color: #6E9C60;color: white;font-size: 150%;font-style: italic;">
                Admin
            </div>
            <ul style="list-style: none;padding: 0 0.5em;font-size: 120%;margin: 0.2em 0;max-width: 20em">
                <li><a href="/admin/feedjack/subscriber/add/">add Subscriber</a></li>
            </ul>
        {%endif%}
    </div>
</div>

{% endblock %}
